<div id="page-container">
  <div class="main">
    <app-navbar></app-navbar>

    <div
      class="container"
      style="margin-top: 138px; min-height: calc(100vh - 227px) !important"
    >
    <div class="row">
      <div class="col-md-8 image-back">

        <div class="content-form">
          <form id="form1"  (ngSubmit)="onFormSubmit()" role="form" ngNativeValidate>
            <div class="form-Login">
              <app-alert-error *ngIf="showAlertError" [message]="message"></app-alert-error>
              <app-alert-success *ngIf="showAlertSuccess" [message]="success_message"></app-alert-success>
              <h1 class="title mb-3"> Mot de passe oublié?</h1>
              <p class="paragraphe">Entrez votre adresse e-mail pour recevoir des instructions sur la façon de réinitialiser votre mot de passe. </p>
            </div>

            <div>
              <div>
                <label> Entrez votre adresse e-mail  </label>
                <input class="form-control input-email" type="email" placeholder="name@gmail.com" required [(ngModel)]="userEmail"  name="email"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$">
              </div>
            </div>
            <button class="btn-upload save" type="submit"> Réinitialiser mot de passe </button>

          </form>

        </div>
      </div>
      <div class="col-md-4 image-back">


      </div>
      </div>

    </div>
</div>

  </div>


<div class="footer-wrapper">
  <app-footer></app-footer>
</div>

