<div id="page-container">
  <div class="main">
    <app-navbar></app-navbar>

    <div
      class="container-lg page-container"
      style="min-height: calc(100vh - 227px) !important"
    >
      <div class="agent-main-wrapper">
        <div class="row">
          <div class="col-md-10">
            <h1 class="title d-none d-md-block">Mon compte</h1>
          </div>
        </div>
        <div class="global-wrapper">
          <div class="margLeft mt-md-0 mt-4 d-md-block d-none">
            <mdb-tabset
              #staticTabs
              [vertical]="true"
              [buttonClass]="'md-tabs tabs-3 indigo '"
              [contentClass]="'card'"
            >
              <!--Panel 1-->
              <mdb-tab
                *ngIf="hasOwnerRole() || hasLodgerRole()"
                heading="Mon profil"
                [active]="true"
              >
                <div class="row">
                  <app-user-information></app-user-information>
                </div>
              </mdb-tab>
              <!--Panel 2-->
              <mdb-tab
                *ngIf="hasOwnerRole()"
                heading="Mes annonces"
                (select)="announcementUser.refreshAnnouncements()"
              >
                <div class="row">
                  <app-announcement-user
                    #announcementUser
                  ></app-announcement-user>
                </div>
              </mdb-tab>
              <!--Panel 3-->
              <mdb-tab
                *ngIf="hasOwnerRole() || hasLodgerRole()"
                heading="Mes réservations"
                (select)="reservationUser.refreshReservations()"
              >
                <div class="row">
                  <app-reservation-user #reservationUser></app-reservation-user>
                </div>
              </mdb-tab>
              <!--Panel 4-->
              <mdb-tab *ngIf="hasOwnerRole()" heading="Publier une annonce" (select)="newAnnouncement.ngOnInit()">
                <div class="mb-5 row">
                  <app-new-announcement #newAnnouncement></app-new-announcement>
                </div>
              </mdb-tab>
            </mdb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
