<div id="page-container">
  <div class="main">
    <app-navbar></app-navbar>

    <div class="home_top_slider">
      <div class="new_search_form">
        <div class="new_search_list">
          <h2>
            Réservez des logements
            <span
              class="change-content"
              id="home-text"
              uniques="Uniques"
              magics="Magiques"
              for_you="Pour Vous"
              style="display: inline"
            ></span>
            en Tunisie.
          </h2>
          <h4>
            Trouvez un logement à moindre coût et parfaitement adapté à tout
            type de séjour sur TunRooms et payez en toute sécurité.
          </h4>

          <form
            #form1="ngForm"
            role="form"
            (ngSubmit)="search()"
            ngNativeValidate

          >
            <div>
              <label>Lieu (Ville/Gouvernorat)</label>
              <ng-select
                required
                [(ngModel)]="rechercheform.announcementCityLabel" name="announcementCityLabel"
              >
                <ng-option
                  *ngFor="let city of cities"
                  [value]="city.cityLabel"
                >{{ city.cityLabel }}</ng-option
                >
              </ng-select>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label> Arrivée </label>
                <input
                  class="form-control"
                  type="date"
                  placeholder="Arrivée"
                  required
                  name="comingDate"
                  [(ngModel)]="rechercheform.announcementStartDate"
                />
              </div>

              <div class="col-md-6">
                <label> Départ </label>
                <input
                  class="form-control"
                  type="date"
                  placeholder="Départ"
                  required
                  name="departureDate"
                  [(ngModel)]="rechercheform.announcementEndDate"
                />
              </div>
            </div>
            <div>
              <label>Nombre d’invités</label>
              <ng-select required [(ngModel)]="rechercheform.nbGuest" name="nbGuest">
                <ng-option value="1">1 invité</ng-option>
                <ng-option value="2">2 invités</ng-option>
                <ng-option value="3">3 invités</ng-option>
                <ng-option value="4">4 invités</ng-option>
                <ng-option value="5">5 invités</ng-option>
                <ng-option value="6">6 invités</ng-option>
                <ng-option value="7">7 invités</ng-option>
                <ng-option value="8">8 invités</ng-option>
                <ng-option value="9">9 invités</ng-option>
                <ng-option value="10">10 invités</ng-option>
                <ng-option value="11">11+ invités</ng-option>
              </ng-select>
            </div>
          </form>

          <input class="btn-upload save" type="submit" value="Chercher" (click)="search()"/>
        </div>
      </div>
    </div>

    <div class="page-container-responsive">
      <!-- home button -->

      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 home_button_field">
        <div class="home_button_opt">
          <h3>Découvrez tous les logements disponibles:</h3>
          <ul class="homes_button">
            <li>
              <a href="#" [routerLink]="'/announcements'">
                <div class="image_home">
                  <img
                    lazy-src="https://www.tunrooms.com/images/slider/home3.jpg"
                    class="ng-isolate-scope"
                    style="opacity: 1; transition: opacity 1s ease 0s"
                    src="https://www.tunrooms.com/images/slider/home3.jpg"
                  />
                </div>
                <div class="content_home">
                  <span>Tous les logements</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <br />
        <br />
        <div class="home_page_list">
          <h3>Les Tendances:</h3>

          <div *ngFor="let lastPublishedAnnouncement of lastPublishedAnnouncements.slice(1)">
            <app-announcement-main-info [lastPublishedAnnouncement]="lastPublishedAnnouncement"></app-announcement-main-info>

          </div>

        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
