@import '../../../assets/variables.scss';
#page-container {
    position: relative;
   color: $davys-grey; 
  }

 ::ng-deep ngb-carousel .picsum-img-wrapper img {
      height: 350px !important;
  }
  ::ng-deep ngb-carousel .carousel-control-next {
    right: 30px;
}
.link-reset {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    color:$davys-grey;
 
}
.fw-100 {
    font-weight: 100;
    margin-bottom: unset;
}
.summary-info {
    color: #82888a;
    font-size: 15px;
}
.b-bottom {
    border-bottom: 1px solid #dce0e0
}
.border-black {
    border: 1px solid #000;
}
.title {
    color: $davys-grey;
    font-weight: 500;
    font-size: 1.4rem;
}
p {
    text-align: justify;
}
p, ul{
    color: $davys-grey;
    
}
.subtile-descrip {
    font-size: 15px;
    line-height: 1.43;
    color: $davys-grey;
}
hr {
    width: 710px;
}
a {
    color: #27aae1;
}
.price-info {
 
        background-color: rgba(60, 63, 64, 0.9);
        border: 0;
        color: #fff;
        height: 40px;

}
.price-info h2 {
    font-weight: 400;
    line-height: initial;
}
.per-night {
    float: right;
    position: relative;
    color: white;
    top: -26px;
    text-transform: uppercase;
}
.num-avis {
  float: right;
  position: relative;
  text-transform: lowercase;
}
.card-reservation {
    position: absolute !important;
}
.card-reservation button {
    background-color: #27aae1 !important;
    border-color: #27aae1 !important;
    color: #fff !important;
}
.card-comment {
  display: contents;
}
.card-comment button {
  background-color: #27aae1 !important;
  border-color: #27aae1 !important;
  color: #fff !important;
}
label {
    font-size: 16px !important;
    font-weight: 200 !important;
}





@media (min-width: 1400px){
.container {
    /*max-width: 1080px;*/
    max-width: 1180px;
}
}

.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* style pour le ng select : debut */
:host ::ng-deep ng-select .ng-select-container {
    padding: 10px !important;
    width: 100% !important;
    height: 2.75rem !important;
    border: 1px solid #D9DDE0;
    border-radius: 0.5rem !important;
    margin-bottom: 1rem;
    font-size: 14px;
  }
  
  :host ::ng-deep ng-select .ng-select-container > .ng-value-container > div[role="combobox"] > input {
  height: 19px !important;
  margin-bottom: 0 !important;
  }
  
  :host ::ng-deep ng-select ng-dropdown-panel {
  z-index: 9999999;
  }
  
  :host ::ng-deep ng-select .ng-dropdown-panel {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08) !important;
  border-radius: 8px !important;
  }
  
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items div.ng-option span.ng-option-label {
    color: #565656;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
  
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items div.ng-option.ng-option-selected {
  background-color: #c2e5f5;
  .ng-option-label {
    color: #2B616D;
    font-weight: 600 !important;
  }
  }
  
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar {
  width: 8px;
  }
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  }
  :host ::ng-deep ng-select .ng-dropdown-panel div.ng-dropdown-panel-items.scroll-host::-webkit-scrollbar-thumb:hover {
  background: #555;
  }
  :host ::ng-deep ng-select div.ng-select-container > span.ng-clear-wrapper .ng-clear{
    display: none !important;
  }
