img{
    height: 60px;
    width: 150px;
}
.navbar-collapse{
position: absolute;
    right: 20px;
}
.nav-link{
    color: white;
}
a {
    outline: none;
    text-decoration: none;
  
  }
  
  a:focus {
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
 