<div class="footer-dark">
  <footer class="page-container-responsive ng-scope" ng-controller="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 th_foot item white-text">
          <p>
            Si vous avez des questions, appelez le <br />
            <span style="font-weight: bold">
              +216 55 566 566 +216 51 566 562</span
            >
            ou <br />
            écrivez-nous à
            <span style="font-weight: bold">info@tunrooms.com</span>
          </p>
        </div>

        <div class="col-sm-7 col-xs-12 col-md-7 th_foot item white-text">
          <div class="row">
            <div class="col-md-4">
              <a
                href="https://www.tunrooms.com/terms_of_service"
                class="link-contrast"
                >Conditions Générales d'utilisation</a
              >
            </div>
            <div class="col-md-4">
              <a href="https://www.tunrooms.com/about_us" class="link-contrast"
                >À propos de Tunrooms</a
              >
            </div>
            <div class="col-md-4">
              <a
                href="https://www.tunrooms.com/privacy_policy"
                class="link-contrast"
                >Privacy Policy</a
              >
            </div>
            <div class="col-md-4">
              <a href="https://www.tunrooms.com/contact" class="link-contrast"
                >Contactez-nous</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="copy_right_bottom">
        <h2 class="h5 hite-text">Rejoignez-nous sur</h2>
        <div class="col item social">
          <a href="#"><i class="bi bi-facebook"></i></a
          ><a href="#"> <i class="bi bi-twitter"></i></a>
          <a href="#"> <i class="bi bi-linkedin"></i></a>
          <a href="#"> <i class="bi bi-pinterest"></i></a>
          <a href="#"> <i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </footer>
</div>
