@import '../../../assets/variables.scss';
.image-back{
  background-image:url("../../../assets/images/Rectangle26.webp") ;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-espace{
  padding: 0;
  margin: 0;
  height: 100%;
}

.title{
  color:$primary;
  margin-bottom: 1.75rem;
}
.paragraphe{
  color:$secondary;
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #9BA2A1;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 2px solid $light-blue;
  border-radius: 4px;
  box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.primary-btn{
  width: 100%;
  height: 44px;
  background: $orange;
  border: none;
  padding: 10px;
  color:$white;
  border-radius: 8px;
  margin-bottom:1.25rem;
}

.primary-btn:hover {
  background-color: $darkOrange;
}

.primary-btn:active {
  background-color: $orange;
}

.content-form{
  padding-top: 2rem;
}

.bold-link {
  font-weight: 600;
}

.login-footer-text {
  color: $grey;
}

.input-password-wrapper {
  position: relative;
}
.icon-input{
  position: absolute;
  height: 2.75rem;
  border-left: 0;
  display: flex;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: $grey;
  padding-right: 18px;
  right: 0;
}

.flex{
  display: flex;
}
.icon-pass{
  padding-right: 1rem;
}
.p-footer{
  margin-bottom: 0px;
  color: $white;
}
.footer-div{
  margin-left: 1rem;
  position: fixed;
  left: 44%;
  bottom: 32px;
  width: 100%;
  color: white;
}
.display-form{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form-control:focus {
  border-color: $input;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  .image-back {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    margin-top: 2rem;
  }
}

input:focus:invalid {
  box-shadow: 0 0 4px 1px red;
}


:host ::ng-deep app-agent-validation .validation-container {
  margin-top: 0px !important;
}