$blue:#3D626F;
$dark-blue:#2B616D;
$white: white;
$grey: #565656;
$dark-grey: #797979;
$dark-color: #2D2D2D;
$light-blue:#D9DDE0;
$orange:#FA8D62;
$darkOrange:#F46A34;
$fadeOrange:#FFA987;
$input:#ced4da;
$light-grey:#f2f2f2;
$tags-color:#B2DBD5;
$danger:#FF5656;
$placeholder-color: #9BA1A1;
$light-grey-color:#C4C4C4;
$success-color: #37F28D;

$primary: $blue;
$secondary: $grey;




