
<div class="home_top_slider">
  <div class="new_search_form">
    <div class="new_search_list">

      <form (ngSubmit)="onFormSubmit()" ngNativeValidate>
        <div class="row col-10">

          <div class="col-6">
            <label> Prénom </label>
            <input
              class="form-control"
              type="text"
              placeholder="Prénom"
              required
              [(ngModel)]="user.userFirstName"
              name="firstName"
            />
          </div>
          <div class="col-6">
            <label> Nom </label>
            <input
              class="form-control"
              type="text"
              placeholder="Nom"
              required
              [(ngModel)]="user.userLastName"
              name="lastName"
            />
          </div>
          <div class="col-6">
            <label> Nom d'utilisateur </label>
            <input readonly
                   class="form-control"
                   type="text"
                   placeholder="Nom d'utilisateur"
                   required
                   [(ngModel)]="user.userLogin"
                   name="username"
            />
          </div>


          <div class="col-6">

            <label> Téléphone </label>
            <input
              class="form-control"
              type="text"
              placeholder="+21600000000"
              required
              [(ngModel)]="user.userPhoneNumber"
              name="phoneNumber"
              pattern="([+]?)[0-9]+"
              title="
                Entrez un numéro de téléphone valide"
            />
          </div>

          <div class="col-6">
            <label>E-Mail</label>
            <input readonly
                   class="form-control"
                   type="email"
                   placeholder="name@beispiel.com"
                   required
                   [(ngModel)]="user.userEmail"
                   name="email"
            />
          </div>

          <div class="col-md-6">
            <label> Date de naissance </label>
            <input
              class="form-control"
              type="date"
              placeholder="Date de naissance"
              required
              name="userBirthDate"
              [(ngModel)]="user.userBirthDate"
            />
          </div>

          <div class="col-6">
            <label>Pays</label>
            <ng-select [compareWith]="compareCountry"  name="selectedCountry"
                       [(ngModel)]="selectedCountry" (ngModelChange)="onChangeCountry($event)">
              <ng-option *ngFor="let country of countries" [value]="country">
                {{country.countryLabel}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-6">
            <label>Ville</label>
            <ng-select [compareWith]="compareCity"  name="selectedCity"
                       [(ngModel)]="selectedCity">
              <ng-option *ngFor="let city of cities" [value]="city">
                {{city.cityLabel}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-8">
            <label> Rue </label>
            <input
              class="form-control"
              type="text"
              placeholder="Ville, Rue, Appartement, ..."
              required
              [(ngModel)]="addressStreet"
              name="addressStreet"
            />
          </div>
          <div class="col-4">
            <label> Num de rue </label>
            <input
              class="form-control"
              type="text"
              placeholder="Numéro de rue"
              required
              [(ngModel)]="addressStreetNumber"
              name="addressStreetNumber"
            />
          </div>

          <div class="row col-12">
            <input
              class="btn-upload save btn-modify"
              type="submit"
              value="Modifier mon profil"
            />
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

