
<div class="home_top_slider">
  <div class="new_search_form">
    <div class="new_search_list">
      <div class="profile-agent">
        <div>
          <div class="row uploaddiv d-flex align-items-center flex-nowrap">
            <div class="profile-edit-photo">
              <div><img [src]="userDetailsResponseModel.userPictureUrl" class="img"></div>

            </div>
            <div class="edit-photo-actions">
              <label for="myfilephotoMobile" class="btn-upload save"> Télécharger une image</label>
              <button class="btn-upload cancel" (click)="deletePhoto()">Supprimer</button></div>
          </div>
          <input type='file'  id="myfilephotoMobile" name="myfilephoto" (change)="onSelectFile($event)" style="visibility: hidden" accept="image/*">
        </div>
      </div>
      <form (ngSubmit)="onFormSubmit()" ngNativeValidate>
        <div class="row col-10">

          <div class="col-6">
            <label> Prénom </label>
            <input
              class="form-control"
              type="text"
              placeholder="Prénom"
              required
              [(ngModel)]="userDetailsResponseModel.userFirstName"
              name="firstName"
            />
          </div>
          <div class="col-6">
            <label> Nom </label>
            <input
              class="form-control"
              type="text"
              placeholder="Nom"
              required
              [(ngModel)]="userDetailsResponseModel.userLastName"
              name="lastName"
            />
          </div>

          <div class="col-6">
            <label>E-Mail</label>
            <input
              class="form-control"
              type="email"
              placeholder="name@beispiel.com"
              required
              [(ngModel)]="userDetailsResponseModel.userEmail"
              name="email"
            />
          </div>

          <div class="col-6">

            <label> Téléphone </label>
            <input
              class="form-control"
              type="text"
              placeholder="+21600000000"
              required
              [(ngModel)]="userDetailsResponseModel.userPhoneNumber"
              name="phoneNumber"
              pattern="([+]?)[0-9]+"
              title="
                Entrez un numéro de téléphone valide"
            />
          </div>

          <div class="col-6">
            <label>Type de votre compte</label>
            <ng-select
              required
              [(ngModel)]="userDetailsResponseModel.role"
              [ngModelOptions]="{ standalone: true }" name="role"><!-- [bindLabel]="getRole(userDetailsResponseModel.role)" -->
              <ng-option value="OWNER">Annonceur</ng-option>
              <ng-option value="LODGER">Locataire</ng-option>
            </ng-select>
          </div>

          <div class="col-md-6">
            <label> Date de naissance </label>
            <input
              class="form-control"
              type="date"
              placeholder="Date de naissance"
              required
              name="userBirthDate"
              [(ngModel)]="userDetailsResponseModel.userBirthDate"
            />
          </div>

          <div class="col-6">
            <label>Pays</label>
            <ng-select [compareWith]="compareCountry"  name="selectedCountry"
                       [(ngModel)]="userDetailsResponseModel.userAddress.addressCity.country" (ngModelChange)="onChangeCountry($event)">
              <ng-option *ngFor="let country of countries" [value]="country">
                {{country.countryLabel}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-6">
            <label>Ville</label>
            <ng-select [compareWith]="compareCity"  name="selectedCity"
                       [(ngModel)]="userDetailsResponseModel.userAddress.addressCity">
              <ng-option *ngFor="let city of cities" [value]="city">
                {{city.cityLabel}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-8">
            <label> Rue </label>
            <input
              class="form-control"
              type="text"
              placeholder="Rue"
              required
              [(ngModel)]="userDetailsResponseModel.userAddress.addressStreet"
              name="addressStreet"
            />
          </div>
          <div class="col-4">
            <label> Num de rue </label>
            <input
              class="form-control"
              type="text"
              placeholder="Numéro de rue"
              required
              [(ngModel)]="userDetailsResponseModel.userAddress.addressStreetNumber"
              name="addressStreetNumber"
            />
          </div>

          <div class="row col-12">
            <input
              class="btn-upload save btn-modify"
              type="submit"
              value="Modifier mon profil"
            />
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

