<div id="page-container">
  <div class="main">
    <app-navbar></app-navbar>

    <div
      class="container"
      style="margin-top: 138px; min-height: calc(100vh - 227px) !important"
    >
      <div class="row">
        <div class="col-md-8 image-back">

            <div class="content-form">
              <form id="form1"  (ngSubmit)="onFormSubmit()" role="form"  ngNativeValidate>
                <div class="form-Login">
                  <h1 class="title"> Réinitialisez votre mot de passe?</h1>
                  <p class="paragraphe">Entrez votre nouveau mot de passe</p>
                </div>

                <div>
                  <div  >
                    <app-alert-error *ngIf="showAlertError" [message]="message"></app-alert-error>
                    <label>Nouveau mot de passe</label>
                    <input class="form-control"  type="password"  placeholder="nouveau mot de passe"
                           required [(ngModel)]="passwordReset.password" name="userNewPassword"
                           pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"  title="
                         Le mot de passe doit comporter 8 caractères et doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial et un chiffre.">


                  </div>
                  <div  >
                    <label>Répéter le mot de passe</label>
                    <input class="form-control"  type="password" placeholder="Répéter le mot de passe"  (input)="matchPassword($event)"
                           required [(ngModel)]="passwordReset.confirmedPassword" name="userConfirmNewPassword"
                           pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"  title="
                           Le mot de passe doit comporter 8 caractères et doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial et un chiffre.">
                    <p *ngIf="showAlertMatchPassword" class="alert-password">Les mots de passe ne correspondent pas.</p>

                  </div>
                </div>
                <button class="btn-upload save" type="submit"> Réinitialiser le mot de passe </button>

              </form>

            </div>


        </div>
        <div class="col-md-4 image-back">


        </div>
      </div>

    </div>
  </div>

</div>


<div class="footer-wrapper">
  <app-footer></app-footer>
</div>

